<%- include('partials/header') -%>

<div 
    style="background: url('https://media.istockphoto.com/photos/professional-blogger-working-on-his-new-post-for-social-media-at-home-picture-id1252684502?b=1&k=20&m=1252684502&s=170667a&w=0&h=3kK22loPkc8S4_iJdVZ4_IpoOeIKI5zVe4LbqzhD9bM=') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    padding-top:90px;
    padding-bottom: 90px;">
    <div class="container text-center">
        <h1 class="display-2">
            <%= blogpost.title %>
        </h1>
    </div>
</div>

<div class="container p-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/blogs">Blogs</a></li>
          <li class="breadcrumb-item active" class="lead" aria-current="page"><%= blogpost.title %></li>
        </ol>
      </nav>
</div>

<div class="container text-center mt-2 mb-5">

    <p class="lead mb-5">
        <%= blogpost.message %>
    </p>

    <small>
        Created By <%= blogpost.email %>, <br>
        On <%= blogpost.datePosted.toString() %>
    </small>

</div>

<%- include('partials/footer') -%>
<%- include('partials/scripts') -%>
